* {
  margin: 0%;
  padding: 0%;
  background-color: #000000;
}
/* main div */
.main {
  text-align: center;
  margin: 40px auto;
}

/* head line */
.main h1 {
  font-size: 60px;
  color: #00ffff;
  text-shadow: 2px 3px 5px #ccc;
  line-height: 60px;
  opacity: 0;
  animation: line-down 4s ease-out;
}
/* Calculator div */
.calculator {
  text-align: center;
  background-color: #00ffff;
  width: 300px;
  margin: 10px auto;
  border: 2px solid #008000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 5px 5px 5px #ccc;
}

/* Output/result  */
#result {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 25px;
  border: 1px solid #ff00ff;
  background-color: #000000;
  color: #00ffff;
  border-radius: 20px;
}

/* Operator buttons background change to cyan */
.operator-btn {
  background-color: #00ffff;
  animation: btn-pop 2s linear;
}

/* Arithmetic Operator Buttons */
.operator-btn button {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 25px;
  cursor: pointer;
  color: #00ffff;
}

/* On hover, add a green background color with text color balck */
.operator-btn button:hover {
  background-color: #008000;
  color: #000000;
}

/* clear and equal buttons background magenta & text-color balck */
.clear,
.equal {
  background-color: #ff00ff;
  color: #000000 !important;
}

/* Animation for head-line  */
@keyframes line-down {
  from {
    margin-top: -800px;
  }
  to {
    opacity: 1;
  }
}

/* Media-query  On smaller screens */

@media screen and (min-width: 320px) and (max-width:600px) {
    .main {
        text-align: center;
        margin: 40px auto;
      }
      .main h1 {
        font-size: 30px;
      }
      .calculator {
        margin-top: -20px;
        width: 280px;
        padding: 5px;
      }
}
